<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="192x192" href="icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="manifest" href="manifest.json">
    <script src="./js/vue.min.js"></script>
    <title>CoinControl</title>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</head>
<body>
    <div id="app">
        <header class="flex justify-between items-center bg-gradient p-2">
            <h1 class="text-lg text-white font-sans">CoinControl</h1>
            <!-- <nav class="relative">
                <button @click="showMenu = !showMenu" class="flex justify-center items-center px-2 cursor-pointer border-none bg-transparent text-lg text-yellow font-sans">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-caret-down-fill m-2" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    {{btnHeader}}
                </button>
                <ul id="ulmenu" v-show="showMenu" class="flex flex-col absolute right-0 z-50 bg-white rounded b-shadown-y text-center font-sans top-37">
                    <li><button @click.stop="selecionaBtnHeader">Extrato</button></li>
                    <li><button @click.stop="selecionaBtnHeader">Aplicações</button></li>
                    <li><button @click.stop="selecionaBtnHeader">Empréstimos</button></li>
                    <li><button @click.stop="selecionaBtnHeader">Patrimonio</button></li>
                    <li><button @click.stop="selecionaBtnHeader">Totais</button></li>
                </ul>
            </nav> -->
        </header>
        <div v-if="showExtrato">
            <nav v-show="true" class="flex justify-around" style="margin-top: 8px;">
                <button class="p-1 bg-transparent border-none b-shadown-y2 rounded" @click="mesAnterior">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
                <div class="m-2 flex flex-col justify-center items-center text-xl"> 
                    <p class="capitalize font-bold">{{mesString[mesIndice]}}</p>
                    <p>{{ano}}</p>
                </div>
                <button class="p-1 bg-transparent border-none b-shadown-y2 rounded" @click="mesProximo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </nav>
            <section class="flex justify-between m-auto w-90 b-shadown-y2 p-1 rounded text-xl" style="margin-top: 10px;">
                <span class="m-1">Saldo final</span>
                <p class="m-1">R$ <strong>{{formatarNumero(saldo)}}</strong></p>
            </section>
            <table v-show="showTabela" class="m-auto w-90 b-shadown-y2 rounded text-xl" style="margin-top: 8px;">
                <thead class="bg-gradient text-white p-2">
                    <th style="padding: 10px 0;">Dia</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                </thead>
                <tbody>
                    <tr v-bind:id="lacamento.id" @click="selecionaTr" class="text-center" v-for="(lacamento,index) in contaSelecionada" :key="index" :class="{ 'odd-row': index % 2 !== 0 }">
                        <td style="width: 40px; padding: 10px 0;">{{lacamento.dia}}</td>
                        <td>{{lacamento.descricao}}</td>
                        <td style="width: 40px;">{{lacamento.tipo}}</td>
                        <td>{{formatarNumero(lacamento.valor)}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- adicionar lançamentos extrato-->
            <footer :class="{cfooterShow: showFooter}"  class="fixed w-full flex flex-col gap-2 justify-center items-center bg-gradient f-escondido">
                <div :class="{topBtn: !showFooter}" class="absolute right-0 top-n">
                    <button @click="footerShow" v-show="!showFooter" class="mr-1 p-3 rounded-50 border-none flex items-center cursor-pointer btn-shadown bg-gradient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
                    <button 
                        @click="addLancamento"
                        v-show="showFooter" 
                        class="mr-1 p-3 rounded-50 border-none flex items-center cursor-pointer btn-shadown bg-gradient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
                </div>
                <button
                    @click="footerClose"
                    v-show="showFooter" 
                    class="rounded-50 border-none flex items-center cursor-pointer bg-transparent absolute top-0 left-0"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                
                <h4 class="m-1">Adicionar</h4>
                <p>
                    <button style="width: 50px;" class="p-2" @click="decrementarDia">-</button>
                    Dia
                    <input v-model="dia" type="number" style="width: 50px;" maxlength="2">
                    <button style="width: 50px;" class="p-2" @click="incrementarDia">+</button>
                </p>
                <p>
                    Descrição
                    <input id="descricao" v-model="descricao" type="text">
                </p>
                <p>
                    Valor
                    <input id="valor" v-model="valor" type="text">
                </p>
                <p class="flex gap-5" style="margin-bottom: 6px;">
                    <label for="credito">
                        <input id="credito" type="radio" value="c" name="tipo" v-model="tipo">
                        Crédito
                    </label>
                    <label for="debito">
                        <input id="debito" type="radio" value="d" name="tipo" v-model="tipo">
                        Débito
                    </label>
                </p>
            </footer>
            <!-- Modal para editar lançamento -->
            <div id="modalExtrato" v-show="showModalExtrato" class="fixed w-full top-0 left-0 bg-black4 h-full flex justify-center items-center z-50">
                <div class="flex flex-col items-center gap-2 p-2 border border-black border-solid bg-gradient rounded"
                style="width: 300px;"
            >
                <h4 class="text-center">Alterar/Excluir</h4>
                <p class="flex gap-2 justify-center items-center">
                    <button class="flex items-center justify-center p-2 border-white rounded bg-transparent" style="width: 50px;" class="p-2" @click="decrementarDia">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                        </svg>
                    </button>
                    Dia
                    <input v-model="dia" class="p-1" type="number" style="width: 50px;" maxlength="2">
                    <button class="flex items-center justify-center p-2 border-white rounded bg-transparent" style="width: 50px;" class="p-2" @click="incrementarDia">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                    </button>
                </p>
                <p>
                    Descrição
                    <input v-model="descricao" class="p-1" type="text" style="width: 125px;">
                </p>
                <p>
                    Valor
                    <input v-model="valor" class="p-1" type="text" style="width: 125px;">
                </p>
                <p style="margin-bottom: 6px;">
                    Tipo
                    <select class="p-2" name="" id="" v-model="tipo">
                        <option value="c">c</option>
                        <option value="d">d</option>
                    </select>
                </p>
                <div class="flex w-full justify-around">
                    <button @click="alteraElemento" class="p-2">Alterar</button>
                    <button @click="excluirElemento" class="p-2">Excluir</button>
                    <button @click="cancelarAlteracao" class="p-2">Cancelar</button>
                </div>
            </div>
        </div>
        </div>
        <div v-if="showAplicacao" class="flex flex-col justify-stretch items-center">
            <footer :class="{cfooterShow: showFooterAplicacao}" class="fixed w-full flex flex-col gap-2 justify-center items-center bg-gradient f-escondidoAp">
                <div :class="{topBtn: !showFooterAplicacao}" class="absolute right-0 top-n">
                    <button @click="showFooterAplicacao = true" v-show="!showFooterAplicacao" class="mr-1 p-3 rounded-50 border-none flex items-center cursor-pointer btn-shadown bg-gradient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                    <button 
                        @click="addAplicacao"
                        v-show="showFooterAplicacao" 
                        class="mr-1 p-3 rounded-50 border-none flex items-center cursor-pointer btn-shadown bg-gradient">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
                </div>
                <button
                    @click="showFooterAplicacao = false"
                    v-show="showFooterAplicacao" 
                    class="rounded-50 border-none flex items-center cursor-pointer bg-transparent absolute top-0 left-0"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <h4 class="text-center m-2">Adicionar</h4>
                <p>
                    Nome
                    <input type="text" id="nomeAplicacao" v-model="nomeAplicacao">
                </p>
                <p>
                    Características
                    <input type="text" id="descricaoAplicacao" v-model="descricaoAplicacao">
                </p>
                <p>
                    Valor
                    <input type="text" id="valorAplicacao" v-model="valorAplicacao">
                </p>
                <p style="margin-bottom: 8px;">
                    Data aplicação
                    <input type="date" name="" id="" v-model="dataAplicacao">
                </p>
            </footer>
            <section class="flex justify-between m-auto w-90 b-shadown-y2 p-1 rounded text-xl" style="margin-top: 10px;">
                <span class="m-1">Total Aplicado</span>
                <p class="m-1">R$ <strong>{{formatarNumero(totalAplicados)}}</strong></p>
            </section>
            <ul class="m-2 w-90 flex flex-col gap-5">
                <li
                    v-bind:id="aplicacao.id"
                    v-for="aplicacao in aplicacoes" 
                    class="p-2 b-shadown-y2 rounded text-xl text-center relative">
                    <strong>{{aplicacao.nome}}</strong>  <br>
                    Característica : {{aplicacao.descricao}}<br>
                    Valor Incial : R$ {{formatarNumero(aplicacao.valor)}} <br>
                    Data da aplicação : {{aplicacao.data ? formatarDataParaString(aplicacao.data) : '--/--/--'}} <br>
                    <!-- <p v-if="aplicacao.nome.toLowerCase() == 'lci'"> -->
                    <p v-if="aplicacao.nome.toLowerCase().includes('lci')">
                        <!-- Valor Atual : R$ {{formatarNumero(calculaDesdeAplicacao(aplicacao, parseInt(aplicacao.descricao)))}} -->
                        Valor Atual : R$ {{calculaDesdeAplicacao(aplicacao, parseInt(aplicacao.descricao))}}
                    </p> 
                    <div class="absolute right-0 top-0 flex flex-col">
                        <button @click="deletarAplicacao" 
                            class="border-none bg-transparent cursor-pointer m-1 trash">
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="showEmprestimo">
            <!-- <h4 class="text-center m-2 text-xl">{{emprestimos.length ? 'Empréstimos cadastrados' : 'Sem empréstimos cadastrados'}}</h4> -->
            <emprestimo-secao></emprestimo-secao>
        </div>
        <footer class="w-full bg-gradient fixed bottom-0 p-2 f-shadow">
            <nav>
                <ul class="flex justify-between">
                    <li >
                        <button 
                            :class="{ menuAtivo : showExtrato }" 
                            class="border-none bg-transparent flex flex-col justify-center items-center"
                            @click="menuBtnExtrato"
                            >
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-justify" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                              </svg>
                              Extrato
                        </button>
                    </li>
                    <li>
                        <button 
                        :class="{ menuAtivo : showAplicacao }" 
                        @click="menuBtnAplicacao"
                        class="border-none bg-transparent flex flex-col justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                              </svg>
                              Aplicações
                        </button>
                    </li>
                    <li>
                        <button 
                            :class="{ menuAtivo : showEmprestimo }" 
                            @click="menuBtnEmprestimo"
                            class="border-none bg-transparent flex flex-col justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                              </svg>
                            Empréstimos
                        </button>
                    </li>
                    <li>
                        <button class="border-none bg-transparent flex flex-col justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-house-add-fill" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 1 1-1 0v-1h-1a.5.5 0 1 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                                <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                              </svg>
                            Patrimônio
                        </button>
                    </li>
                    <li>
                        <button class="border-none bg-transparent flex flex-col justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="yellow" class="bi bi-pie-chart-fill" viewBox="0 0 16 16">
                                <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                              </svg>
                            Totais
                        </button>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
    <script src="js/index.js"></script>
</body>
</html>